{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>

{% endblock %}

{%block scripts%}
{{super()}}
<script>
    var part_type = document.getElementById('part_type');
    var pcu = document.getElementById('pcu');
    
    part_type.addEventListener('change', updateValue);

    function updateValue(e) {
        // alert(e.target.value)
        // pcu.value = e.target.value;
        fetch('/workflow/get_pcu/'+ part_type.value).then(function(response){
            response.json().then(function(data){
                pcu.value = data.message
                // console.table(data.message)
            });
        });
    };
</script>
{%endblock%}