{% extends "base.html" %}

{% block app_content %}
<div class="content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <h1 style="text-align:center;">Cases</h1>
          <a href="{{url_for('workflow.add_case')}}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Case
          </a>
          <a href="{{url_for('workflow.upload_csv')}}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Upload Multiple Cases
          </a>
          {% if cases %}
            <hr class="intro-divider">
            <div class="center">
              
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th width="15%"> cp_num </th>
                    <th width="15%"> specimen_class </th>
                    <th width="15%"> part_type </th>
                    <th width="15%"> group_external_value </th>
                    <th width="15%"> part_description </th>
                    <th width="15%"> block_count </th>
                    <th width="15%"> doctor_code </th>
                    <th width="15%"> specialty </th>
                    <th width="15%"> location </th>
                    <th width="15%"> PCU </th>
                    <th width="15%"> Pathologist </th>
                    <th width="15%"> Total_PCU</th>

                    <th width="15%"> Edit </th>
                    <th width="15%"> Delete </th>
                  </tr>
                </thead>
                <tbody>
                {% for case in cases %}
                  <tr>
                    <td> {{ case.cp_num }} </td>
                    <td> {{ case.specimen_class }} </td>
                    <td> {{ case.part_type }} </td>
                    <td> {{ case.group_external_value }} </td>
                    <td> {{ case.part_description }} </td>
                    <td> {{ case.block_count }} </td>
                    <td> {{ case.doctor_code }} </td>
                    <td> {{ case.specialty }} </td>
                    <td> {{ case.location }} </td>
                    <td> {{ case.PCU }} </td>

                    <td>{{case.operator_name}} </td>
                    <td>{{case.total_pcu}}</td>
                    <td>
                      <a href="{{url_for('workflow.edit_case', id=case.id)}}">
                        <i class="fa fa-pencil"></i> Edit
                      </a>
                    </td>
                    <td>
                      <a href="{{url_for('workflow.delete_case', id=case.id)}}">
                        <i class="fa fa-trash"></i> Delete
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% if prev_url %}
                <a href="{{ prev_url }}">Prev</a>
              {% endif %}
              {% if next_url %}
                <a href="{{ next_url }}">Next</a>
              {% endif %}
            </div>
          {% else %}
            <div style="text-align: center">
              <h3> No cases have been added. </h3>
              <hr class="intro-divider">
            </div>
          {% endif %}
            
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}