{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
        {% if current_user.is_administrator() %}
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Roles</a></li>
            <li><a href="#">Employees</a></li>
          
        {% endif %}
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>


    
{% endblock %}